[Unit]
Description= Squared Dispatch Printer Deamon
After=multi-user.target


[Service]
Type=simple

User=user
Group=user

ExecStart=/usr/bin/docker-compose --file /path/to/project/docker-compose.yml up --build
ExecStop=/usr/bin/docker-compose --file /path/to/project/docker-compose.yml stop

Restart=always

SyslogIdentifier=squared_dispatch

[Install]
WantedBy=default.target
